@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

$cor-principal: #1E1E1E;
$cor-secundaria: #3E1111;
$cor-terciaria: #E1D8AF;
$cor-contraste: #CAB57B;

$fonte-titulo: 'Fleur De Leah', cursive;


